{{ define "main" }}

<content>
  {{ if .Data.Singular }}
  <h3>Filtering for "{{ .Title }}"</h3>
  <small>
    <a href='{{ relURL "blog" }}'>Remove filter</a>
  </small>
  {{ end }}

  {{ if or .Paginator.HasPrev .Paginator.HasNext }}
  {{- partial "pagination.html" . -}}
  {{ end }}

  <ul class="blog-posts">
    {{ range .Paginator.Pages }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      {{ if .Params.link }}
      <a href="{{ .Params.link }}" target="_blank">{{ .Title }} ↪</a>
      {{ else }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    </li>
    {{ else }}
    <li>No posts yet</li>
    {{ end }}
  </ul>

  {{ if not .Data.Singular }}
  <small>
    <div>
      <!-- Display tags -->
      {{ $tags := slice }}
      {{ range .Paginator.Pages }}
      {{ with .Params.tags }}
      {{ $tags = $tags | append . }}
      {{ end }}
      {{ end }}
      {{ $tags = $tags | uniq | sort }}
      {{ if $tags }}
      <p>
        Tagy:&nbsp;&nbsp;
        {{ range $tags }}
        <a href='{{ printf "/tags/%s" . | urlize }}'>#{{ . }}</a>&nbsp;&nbsp;
        {{ end }}
      </p>
      {{ end }}

      <!-- Display types-of-food -->
      {{ $typesOfFood := slice }}
      {{ range .Paginator.Pages }}
      {{ with .Param "types-of-food" }}
      {{ $typesOfFood = $typesOfFood | append . }}
      {{ end }}
      {{ end }}
      {{ $typesOfFood = $typesOfFood | uniq | sort }}
      {{ if $typesOfFood }}
      <p>
        Typ jedla:&nbsp;&nbsp;
        {{ range $typesOfFood }}
        <a href='{{ printf "/types-of-food/%s" . | urlize }}'>#{{ . }}</a>&nbsp;&nbsp;
        {{ end }}
      </p>
      {{ end }}

      <!-- Display ingredients -->
      {{ $ingredients := slice }}
      {{ range .Paginator.Pages }}
      {{ with .Params.ingredients }}
      {{ $ingredients = $ingredients | append . }}
      {{ end }}
      {{ end }}
      {{ $ingredients = $ingredients | uniq | sort }}
      {{ if $ingredients }}
      <p>
        Ingrediencie:&nbsp;&nbsp;
        {{ range $ingredients }}
        <a href='{{ printf "/ingredients/%s" . | urlize }}'>#{{ . }}</a>&nbsp;&nbsp;
        {{ end }}
      </p>
      {{ end }}
    </div>
  </small>
  {{ end }}

</content>
{{ end }}