{{ define "main" }}

{{ if eq .Type "blog" }}
{{ if not .Params.menu }}
<!-- <h1>{{ .Title }}</h1> -->
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}
{{ end }}

{{ if .Params.toc }}
<details>
  <summary>Table of Contents</summary>
  {{ .TableOfContents }}
</details>
{{ end }}

<content>
  {{ .Content }}
</content>

<!-- Render tags -->
{{ $tags := .GetTerms "tags" }}
{{ if $tags }}
<p>
  Tagy:&nbsp;&nbsp;
  {{ range $tags }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>&nbsp;&nbsp;
  {{ end }}
</p>
{{ end }}

<!-- Render type-of-food -->
{{ $typeOfFood := .GetTerms "type-of-food" }}
{{ if $typeOfFood }}
<p>
  Typ jedla:&nbsp;&nbsp;
  {{ range $typeOfFood }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>&nbsp;&nbsp;
  {{ end }}
</p>
{{ end }}

<!-- Render ingredients -->
{{ $ingredients := .GetTerms "ingredients" }}
{{ if $ingredients }}
<p>
  Ingrediencie:&nbsp;&nbsp;
  {{ range $ingredients }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>&nbsp;&nbsp;
  {{ end }}
</p>
{{ end }}

{{ end }}